.main-container {
  align-items: center;
  padding-top: 5rem;

  & header {
    width: 80%;
    align-items: center;
    padding-bottom: 2rem;
  }

  & .main {
    width: 80%;
    & .overline {
      background: var(--gradient-content);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.tips {
  width: 70%;
  & svg {
    & path {
      stroke: var(--content-brand);
    }
  }
  & .tips-texts {
    & .paragraph-md {
      color: var(--content-brand);
    }
  }
}

@media (width <= 26.875em) {
  header {
    justify-content: center;
  }
  .header-main {
    & h1 {
      font: 800 var(--display-md) / 1.3 var(--ff-display);
      text-transform: uppercase;
    }
  }

  .tips-container {
    justify-content: center;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: var(--content-secondary);

    .tips {
      width: 100%;
    }
  }
}
